// .sidenav {
//   transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out !important;
// }
.hold-transition .content-wrapper,
.hold-transition .control-sidebar,
.hold-transition .control-sidebar *,
.hold-transition .main-footer,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar * {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out !important;
}

.content-side {
  margin-left: 4.5rem !important;
}

@media screen and (max-width: 992px) {
  .main-sidebar,
  .main-sidebar::before {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    width: 250px;
    margin-left: -500px;
  }
  .main-sidebar-open {
    margin-left: 0 !important;
  }
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1035;
    content: "";
    visibility: hidden;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .content-side {
    margin-left: 0rem !important;
  }
}
